<div>
  <div class="search-box" style="display: flex; align-items: end; justify-content: space-between;">
    <form action="" [formGroup]="SearchForm">
      <div style="display: flex; align-items: end;">
        <div style="width: 250px;">
          <label for="code" class="fw-600">Code</label>
          <input nz-input placeholder="" id="code" formControlName="code" />
        </div>
        <div style="width: 250px;" class="ml-4">
          <label for="name" class="fw-600">Họ tên</label>
          <input nz-input placeholder="" id="hoten" formControlName="hoten" />
        </div>
        <div style="width: 250px;" class="ml-4">
          <label for="bophan" class="fw-600">Bộ phận</label>
          <input nz-input placeholder="" id="bophan" formControlName="bophan" />
        </div>
        <button (click)="GetNhanVien()" class="ml-4" nz-button nzType="primary" nzShape="circle">
          <span nz-icon nzType="search"></span>
        </button>
      </div>
    </form>
    <button (click)="modalAddNV()" nz-button nzType="default"
      style="background-color: var(--add-btn); color: white;width: 80px;"><span style="font-size: 20px;" nz-icon
        nzType="user-add"></span></button>
  </div>

  <div class="table-area mt-5">
    <nz-table style="height: 394px;overflow: auto;" [nzFrontPagination]="false" ngSkipHydration [nzData]="listOfData">
      <thead>
        <tr>
          <th>ID</th>
          <th>Code</th>
          <th>UserName</th>
          <th>IsActive</th>
          <th>Bộ phận</th>
          <th>Khu vực</th>
          <th>IsDelete</th>
          <th>Ghi chú</th>
          <th>Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listOfData">
          <td>{{ data.id }}</td>
          <td>{{ data.code }}</td>
          <td>{{ data.userName }}</td>
          <td>{{ data.isActive }}</td>
          <td>{{ data.boPhan }}</td>
          <td>{{ data.khuVuc }}</td>
          <td>{{ data.isDelete }}</td>
          <td>{{ data.ghiChu }}</td>
          <td style="text-align:center;">
            <button (click)="EditNhanVien(data)" nz-button nzType="default"
              style="background-color: var(--edit-btn);color: white; font-size:16px; cursor: pointer;">
              <span nz-icon nzType="edit"></span>
            </button>
            <button nz-popconfirm nzPopconfirmTitle="Are you sure?" nzOkText="OK" nzCancelText="Cancel"
              (nzOnConfirm)="DeleteNhanVien(data.id)" (nzOnCancel)="cancel()" nz-button nzType="default"
              style="background-color: var(--delete-btn);color: white; font-size:16px; cursor: pointer;">
              <span style="color: white; font-size:16px; cursor: pointer;" nz-icon nzType="delete"></span>
            </button>
            <button (click)="EditNhanVien(data)" nz-button nzType="default"
              style="background-color: #ed871b;color: white; font-size:16px; cursor: pointer;">
              <span nz-icon nzType="setting"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <nz-pagination [nzResponsive]="true" [nzShowTotal]="totalTpl" [nzPageSizeOptions]="[10, 20, 50, 100]"
      (nzPageIndexChange)="onPageIndexChange($event)" (nzPageSizeChange)="onPageSizeChange($event)"
      [nzPageIndex]="PageIndex" [nzTotal]="TotalRecords" nzShowSizeChanger [nzPageSize]="PageSize" />
    <ng-template #totalTpl let-total let-range="range">
      {{ range[0] }}-{{ range[1] }} / Tổng {{ total }} bản ghi
    </ng-template>
  </div>
</div>
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="titleModal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <form action="" [formGroup]="FormAddNhanVien">
      <div>
        <div class="mb-4">
          <nz-form-item>
            <nz-form-label [nzRequired]="true">Code</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng nhập code">
              <input id="code" nz-input placeholder="Code" formControlName="Code" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="mb-4">
          <nz-form-item>
            <nz-form-label [nzRequired]="true">Họ tên</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng nhập họ tên">
              <input id="hoten" nz-input placeholder="Họ tên" formControlName="Hoten" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="mb-4">
          <nz-form-item>
            <nz-form-label [nzRequired]="true">Bộ phận</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng chọn bộ phận">
              <nz-select formControlName="Bophan" (nzOpenChange)="GetKhuVuc($event)">
                <nz-option *ngFor="let item of bophanOptions" [nzLabel]="item.tenPhongBan" [nzValue]="item.tenPhongBan">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="mb-4">
          <nz-form-item>
            <nz-form-label [nzRequired]="true">Khu vực</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng chọn khu vực">
              <nz-select formControlName="KhuVuc">
                <nz-option *ngFor="let item of khuvucOption" [nzLabel]="item.tenKhuVuc" [nzValue]="item.tenKhuVuc">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="mb-4">
          <nz-form-item>
            <nz-form-label [nzRequired]="true">Quyền</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng chọn quyền truy cập">
              <nz-select formControlName="Role">
                <nz-option *ngFor="let item of lstRole" [nzLabel]="item.capBac" [nzValue]="item.quyen">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="mb-4">
          <nz-form-item>
            <nz-form-label>Ghi chú</nz-form-label>
            <nz-form-control>
              <input id="ghichu" nz-input placeholder="Ghi chú" formControlName="Ghichu" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </ng-container>
</nz-modal>