<!-- <div class="big-layout bg-black flex absolute top-0 left-0 right-0 bottom-0 justify-center items-center m-auto">
    <div class="inner-layout bg-blue-600 w-3/4 flex justify-center items-center">
        <div class="left-content w-1/2 h-full">
            <div class="logo">
                <img src="assets/images/logo.png" alt="Logo">
            </div>
            <p class="">Sign in to your account</p>
            

        </div>
        <div class="right-content w-1/2 h-full bg-blue-600">

        </div>
    </div>
</div> -->

<button nz-button nzType="primary">Primary</button>