.big-layout {
    background-color: #101828;

    .inner-layout {
        .left-content {
            width: 100%;
            text-align: center;

            .textmain {
                color: var(--text-primary);
                text-align: center;
            }

            .logo {
                .logoimg {
                    width: 100px;
                    border-radius: 100%;
                    overflow: hidden;
                }

            }
        }
    }
}