<nz-layout style="height: 100vh;">
  <nz-sider class="sider" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" [nzWidth]="250">
    <div class="logo">
      <img class="logo-img" src="assets/images/logo.png" alt="Logo">
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType="dashboard"></span>
        <span [routerLink]="['/dashboard']" (click)="navigateTo('Dashboard','Trang chủ','')">Tổng quan</span>
      </li>
      <li nz-submenu nzTitle="Quản lý danh mục" nzIcon="user">
        <ul>
          <li nz-menu-item (click)="navigateTo('QuanLyNhanVien','Trang chủ','Quản lý nhân viên')">Quản lý nhân viên</li>
          <li nz-menu-item>Quản lý máy</li>
          <li nz-menu-item>Quản lý model</li>
          <li nz-menu-item>Quản lý Checksheet</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Team" nzIcon="team">
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="file"></span>
        <span>File</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <span class="trigger" style="padding: 4px;;" (click)="isCollapsed = !isCollapsed">
        <span nz-icon nzType="bars"></span>
      </span>

      <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" style="display: flex;justify-content: center;align-items: center;">
        <span style="background-color: #bababa;width: 40px;height: 38px;display: flex;justify-content: center;align-items: center;font-size: 20px;border-radius: 100%;"><span nz-icon nzType="user"></span></span><SPAN>{{ currentUser?.UserName }}</SPAN>
        <span nz-icon nzType="down"></span>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>Thông tin cá nhân</li>
          <li nz-menu-item>Đổi mật khẩu</li>
          <li nz-menu-divider></li>
          <li nz-submenu nzTitle="sub menu">
            <ul>
              <li nz-menu-item>3rd menu item</li>
              <li nz-menu-item>4th menu item</li>
            </ul>
          </li>
        </ul>
      </nz-dropdown-menu>
      
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item *ngFor="let item of breadcrumbs">
          {{ item }}
        </nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet>
        </router-outlet>
      </div>
    </nz-content>
    <nz-footer>ZeroOne ©{{ currentYear }}</nz-footer>
  </nz-layout>
</nz-layout>
