<nz-layout style="height: 100vh;">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo">
      <img class="logo-img" src="assets/images/logo.png" alt="Logo">
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType="dashboard"></span>
        <span>Tổng quan</span>
      </li>
      <li nz-submenu nzTitle="User" nzIcon="user">
        <ul>
          <li nz-menu-item>Tom</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Team" nzIcon="team">
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="file"></span>
        <span>File</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <span class="trigger" style="padding: 4px;;" (click)="isCollapsed = !isCollapsed">
        <i-feather name="menu" ></i-feather>
      </span>

      <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
        PHẠM VIẾT TÂM
        <span nz-icon nzType="down"></span>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>Thông tin cá nhân</li>
          <li nz-menu-item>Đổi mật khẩu</li>
          <li nz-menu-divider></li>
          <li nz-submenu nzTitle="sub menu">
            <ul>
              <li nz-menu-item>3rd menu item</li>
              <li nz-menu-item>4th menu item</li>
            </ul>
          </li>
        </ul>
      </nz-dropdown-menu>
      
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <p>Nội dung trang Dashboard.</p>
      </div>
    </nz-content>
    <nz-footer>ZeroOne ©{{ currentYear }}</nz-footer>
  </nz-layout>
</nz-layout>
